* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: flex-end;
  background-color: #254D70;
  padding: 20px;
}
.header-item {
  margin: 0px 20px;
  color: #EFE4D2
}

.header-item:hover {
  color: #fff;
  cursor: pointer;
}