* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: flex-end;
  background-color: #254D70;
  padding: 20px;
}
.header-item {
  margin: 0px 20px;
  color: #EFE4D2
}

.header-item:hover {
  color: #fff;
  cursor: pointer;
}
.photo {
  display: flex;
  align-items: center;
  margin: 40px;
  justify-content: center;
}
.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  display: block;
  margin-left: 400px;
  margin-right: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background-color: red;
}
.profile-name {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
.underline {
  width: 80px;
  height: 2px;
  background-color: #889188;
  margin: 0 auto 20px auto;
}
.position {
  font-size: 14px;
  letter-spacing: 2px;
  color: #7f7f7f;
  font-weight: 400;
  text-transform: uppercase;
}
.full-line {
  border: none;
  height: 2px;
  width: 80%;
  background-color: #110e0e;
  margin: 40px auto;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
.section {
  width: 50%;
}
#Contacts {
  padding-left: 40px;
}
#Hobbies {
  padding-left: 40px;
}
#Experience {
  padding-left: 40px;
}
#Languages {
  padding-left: 40px;
}
#About-me {
  padding-right: 40px;
}
.footer {
  display: flex;
  justify-content: flex-start;
  background-color: #4592cd;
  padding: 20px;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.footer-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.rs-logo {
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 40px;
  z-index: 9999;
}
